<!-- Start Portfolio Section -->
<section class="portfolio section-sm" id="portfolio">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8">
				<!-- Section title -->
				<div class="title text-center">
					<h2>Our Portfolio</h2>
					<p>Explore some of our past projects and see how we've helped our clients succeed in their digital marketing efforts.</p>
					<div class="border"></div>
				</div>
				<!-- /Section title -->
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">

				<div class="portfolio-filter">
					<button type="button" data-filter="all">All</button>
					<button type="button" data-filter="seo">SEO</button>
					<button type="button" data-filter="ppc">PPC</button>
					<button type="button" data-filter="social-media">Social Media</button>
					<button type="button" data-filter="content">Content Marketing</button>
				</div>

				<div class="row">
					<div class="col-12">
						<div class="filtr-container">
							<div class="col-md-3 col-sm-6 col-xs-6 filtr-item" data-category="mix, seo, content">
								<div class="portfolio-block">
									<img class="img-fluid" src="images/portfolio/seo-project.jpg" alt="">
									<div class="caption">
										<a class="search-icon" href="images/portfolio/seo-project.jpg" data-lightbox="image-1">
											<i class="tf-ion-ios-search-strong"></i>
										</a>
										<h4><a href="portfolio.html">SEO Campaign</a></h4>
									</div>
								</div>
							</div>
							<!-- Add more portfolio items here -->
							<!-- Example:
							<div class="col-md-3 col-sm-6 col-xs-6 filtr-item" data-category="mix, ppc">
								<div class="portfolio-block">
									<img class="img-fluid" src="images/portfolio/ppc-project.jpg" alt="">
									<div class="caption">
										<a class="search-icon" href="images/portfolio/ppc-project.jpg" data-lightbox="image-1">
											<i class="tf-ion-ios-search-strong"></i>
										</a>
										<h4><a href="portfolio.html">PPC Campaign</a></h4>
									</div>
								</div>
							</div>
							-->
						</div>
					</div>
				</div>
			</div> <!-- /end col-lg-12 -->
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- End section -->
