<!-- Start Services Section -->
<section class="services" id="services">
	<div class="container">
		<div class="row justify-content-center">
			<!-- Section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center">
					<h2>Our Trading Strategies</h2>
					<p>Discover our range of trading strategies tailored to meet the diverse needs of our clients in the dynamic world of cryptocurrency.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /Section title -->
		</div>
		<div class="row no-gutters">

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-copy-outline"></i>
					</div>
					<h3>Scalping Strategy</h3>
					<p>Our high-frequency trading strategy for short-term gains in volatile crypto markets.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-alarm-outline"></i>
					</div>
					<h3>Swing Trading</h3>
					<p>Capitalizing on medium-term price movements to capture profitable opportunities.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-book-outline"></i>
					</div>
					<h3>Day Trading</h3>
					<p>Executing multiple trades within a single day to leverage short-term market fluctuations.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4  text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-briefcase-outline"></i>
					</div>
					<h3>Arbitrage Trading</h3>
					<p>Exploiting price differences across multiple exchanges to generate profits.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-crop"></i>
					</div>
					<h3>Algorithmic Trading</h3>
					<p>Utilizing automated trading algorithms to execute predefined strategies with speed and accuracy.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-home-outline"></i>
					</div>
					<h3>Custom Strategies</h3>
					<p>Tailored trading solutions designed to meet the specific goals and preferences of our clients.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
