<!--Start Counter Section-->
<section class="counter-wrapper section-sm">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8 text-center">
				<div class="title">
					<h2>Young & Innovative Crypto Trading Firm</h2>
					<p>Discover the success of our crypto trading firm, backed by our dedication to excellence and client satisfaction.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- First count item -->
			<div class="col-md-3 col-sm-6 col-xs-6 text-center">
				<div class="counters-item">
					<i class="tf-ion-ios-alarm-outline"></i>
					<div>
						<span class="counter" data-count="8">0</span>
					</div>
					<h3>Traders</h3>
				</div>
			</div>
			<!-- End first count item -->

			<!-- Second count item -->
			<div class="col-md-3 col-sm-6 col-xs-6 text-center">
				<div class="counters-item">
					<i class="tf-ion-ios-analytics-outline"></i>
					<div>
						<span class="counter" data-count="130">0</span>
					</div>
					<h3>Strategies Deployed</h3>
				</div>
			</div>
			<!-- End second count item -->

			<!-- Third count item -->
			<div class="col-md-3 col-sm-6 col-xs-6 text-center">
				<div class="counters-item">
					<i class="tf-ion-ios-compose-outline"></i>
					<div>
						<span class="counter" data-count="134">0</span>
					</div>
					<h3>Times Profits Taken </h3>

				</div>
			</div>
			<!-- End third count item -->

			<!-- Fourth count item -->
			<div class="col-md-3 col-sm-6 col-xs-6 text-center">
				<div class="counters-item kill-border">
					<i class="tf-ion-ios-bolt-outline"></i>
					<div>
						<span class="counter" data-count="148315">0</span>
					</div>
					<h3>Successful Trades</h3>
				</div>
			</div>
			<!-- End fourth count item -->
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
