<footer id="footer" class="bg-one">
  <div class="top-footer">
      <div class="container">
          <div class="row justify-content-around">
              <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                  <h3>about</h3>
                  <p>Amid the volatility of the crypto world, our dedication to altcoin day trading has been forged through relentless perseverance, transforming each setback into a stepping stone towards unparalleled expertise and success.</p>
              </div>
              <!-- End of .col-sm-3 -->

              <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                  <ul>
                      <li>
                          <h3>Our Services</h3>
                      </li>
                      <li><a href="service.html">Cryptocurrency Trading </a></li>
                      <li><a href="service.html">Crypto Wealth Mgt </a></li>
                      <li><a href="service.html">Ui/Ux Design </a></li>
                      <li><a href="service.html">Web Development</a></li>
                  </ul>
              </div>
              <!-- End of .col-sm-3 -->

              <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
                  <ul>
                      <li>
                          <h3>Quick Links</h3>
                      </li>
                      <li><a href="about.html">About</a></li>
                      <li><a href="service.html">Services</a></li>
                      <li><a href="Joinus.html">Join Us Now</a></li>
                      <li><a href="404.html">404</a></li>
                  </ul>
              </div>
              <!-- End of .col-sm-3 -->

              <div class="col-lg-3 col-md-6">
                  <ul>
                      <li>
                        <h3>Disclaimer:</h3>

                          <h3>This Website Does Not Give Financial Advice</h3>
                          <h3>Do Your Own Research</h3>

                      </li>
                      <li><a href="https://www.facebook.com/">Facebook</a></li>
                      <li><a href="https://www.twitter.com/">Twitter</a></li>
                      <li><a href="https://www.youtube.com/channel">Youtube</a></li>
                      <li><a href="https://www.github.com">Github</a></li>
                  </ul>
              </div>
              <!-- End of .col-sm-3 -->

          </div>
      </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
      <h5>&copy; Copyright 2024. All rights reserved.</h5>
      <h6>Design and Developed by <a href="https://github.com/Rekt-Dev">Rekt-Dev </a></h6>
  </div>
</footer> <!-- end footer -->
