<!-- Start Team Skills Section -->
<section class="team-skills section-sm" id="skills">
	<div class="container">
		<div class="row justify-content-center">
			<!-- Section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center">
					<h2>Our Trading Skills</h2>
					<p>Discover the skills and expertise of our trading team, equipped to navigate the complexities of the cryptocurrency market.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /Section title -->
		</div>

		<div class="row justify-content-between">
			<div class="col-md-5">
				<div class="team-skills-content">
					<h2 class="mb-3">Easy to Get Started</h2>
					<p>Get started with our trading services easily. Our team is dedicated to providing seamless onboarding and support throughout your trading journey.</p>
					<a href="contact.html" class="btn btn-main mt-20">Contact Us</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="progress-block">
					<ul>
						<li class="mb-3">
							<span>Market Analysis</span>
							<div class="progress">
								<div class="progress-bar" style="width: 90%;">
								</div>
							</div>
						</li>
						<li class="mb-3">
							<span>Risk Management</span>
							<div class="progress">
								<div class="progress-bar" style="width: 85%;">
								</div>
							</div>
						</li>
						<li class="mb-3">
							<span>Technical Analysis</span>
							<div class="progress">
								<div class="progress-bar" style="width: 92%;">
								</div>
							</div>
						</li>
						<li>
							<span>Trade Execution</span>
							<div class="progress">
								<div class="progress-bar" style="width: 78%;">
								</div>
							</div>
						</li>
					</ul>

				</div>
			</div>
		</div> <!-- End row -->
		<div class="row">
			<div class="col-md-12 mt-4">
				<div id="clients-slider" class="clients-logo-slider">
					<img loading="lazy" src="images/client-logo/logo1.png" alt="">
					<img loading="lazy" src="images/client-logo/logo-2.png" alt="">
					<img loading="lazy" src="images/client-logo/logo-3.png" alt="">
					<img loading="lazy" src="images/client-logo/logo-4.png" alt="">
					<img loading="lazy" src="images/client-logo/logo-5.png" alt="">
					<img loading="lazy" src="images/client-logo/logo1.png" alt="">
					<img loading="lazy" src="images/client-logo/logo-2.png" alt="">
					<img loading="lazy" src="images/client-logo/logo-3.png" alt="">
					<img loading="lazy" src="images/client-logo/logo-4.png" alt="">
					<img loading="lazy" src="images/client-logo/logo-5.png" alt="">
				</div>
			</div>
		</div>
	</div> <!-- End container -->
</section> <!-- End section -->
